* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "monserrat", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 16px;
  background-color: rgb(233, 233, 233);
}

table,
td,
th,
tr {
  border: 1px solid black;
  width: 20%;
  border-collapse: collapse;
  text-align: center;
  background-color: aliceblue;
}
